#u1535-4
{
	font-family: advent-pro-n4, sans-serif;
}

#u1491-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1575-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1584-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1591-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1595-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1603-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1610-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1394-6,#u1386-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u1390-4
{
	font-family: advent-pro-n5, sans-serif;
}

#u1373-8,#u1432-3,#u1432-6
{
	font-family: advent-pro-n5, sans-serif;
}

#u1397-4,#u1394-2,#u1394-3,#u1394-5,#u1373-2,#u1373-3,#u1373-5,#u1373-7,#u1432-2,#u1432-5,#u1432-8,#u1432-10,#u1367-9,#u1956-6
{
	font-family: droid-sans-n4, sans-serif;
}

