#u1535-4
{
	font-family: advent-pro-n4, sans-serif;
}

#u1491-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1575-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1584-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1591-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1595-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1603-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1610-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1047-4,#u1054-4,#u1055-4,#u1058-8,#u1072-4,#u1073-2,#u1083-4,#u1084-2,#u1094-4,#u1095-2,#u1095-4
{
	font-family: droid-sans-n4, sans-serif;
}

#u1073-3,#u1084-3,#u1095-5,#u1095-6
{
	font-family: advent-pro-n3, sans-serif;
}

