#u1535-4
{
	font-family: advent-pro-n4, sans-serif;
}

#u1491-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1575-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1584-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1591-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1595-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1603-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1610-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1135-22,#u1135-23,#u1156-20
{
	font-family: advent-pro-n6, sans-serif;
}

#u1123-4,#u1130-16,#u1135-2,#u1135-4,#u1135-6,#u1135-8,#u1135-9,#u1135-11,#u1135-13,#u1135-15,#u1135-17,#u1135-19,#u1135-21,#u1155-4,#u1156-2,#u1156-3,#u1156-5,#u1156-7,#u1156-9,#u1156-11,#u1156-12,#u1156-14,#u1156-15,#u1156-17,#u1156-19,#u1157-15
{
	font-family: droid-sans-n4, sans-serif;
}

