#u1535-4
{
	font-family: advent-pro-n4, sans-serif;
}

#u1491-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1575-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1584-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1591-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1595-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1603-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1610-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u2023-4
{
	font-family: droid-sans-n4, sans-serif;
}

