#u1535-4
{
	font-family: advent-pro-n4, sans-serif;
}

#u1491-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1575-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1584-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1591-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1595-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1603-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1610-4
{
	font-family: advent-pro-n3, sans-serif;
}

#u1439-4,#u1440-2,#u1440-3,#u1440-5,#u1440-7,#u1440-9
{
	font-family: droid-sans-n4, sans-serif;
}

#u1440-10,#u1440-11
{
	font-family: advent-pro-n5, sans-serif;
}

